@page "/"
<PageTitle>Home</PageTitle>

<div class="project-box">
    <h1>Consigna del Proyecto</h1>

    <p>
        Se deberá completar el desarrollo del proyecto planteado y cuyos avances se han presentado en clase.
        Las funcionalidades a implementar mínimamente son:
    </p>

    <ul>
        <li>
            La API deberá cumplir con el CRUD (creación, lectura de todos los productos, lectura de un producto en particular,
            modificación de un producto y eliminación) del modelo de Productos y realizar tales operaciones en una base de datos
            (queda a elección el motor a utilizar, pudiendo ser SQLite tal como se usó en clase).
        </li>
        <li>
            Por cada endpoint de la API se deberá considerar:
            <ul>
                <li>Uso adecuado del tipo de request HTTP.</li>
                <li>Armado de la respuesta en JSON utilizando correctamente los códigos del protocolo para las mismas.</li>
                <li>Devolver respuestas consistentes en caso de error.</li>
            </ul>
        </li>
        <li>
            Para el frontend se deberá contar con una UI que puede ser la básica de Blazor WebAssembly para poder ejecutar el CRUD
            haciendo las llamadas a la API del punto anterior.
        </li>
        <li>
            Se deberá subir un archivo comprimido con la carpeta completa de la solución (incluyendo los dos archivos de datos generados
            por el grupo durante sus pruebas). En el contenido del archivo se deberá incluir uno de tipo .txt con los nombres de los
            integrantes del grupo.
        </li>
    </ul>
</div>
<div class="project-box">
    <ul>
        <li>INTEGRANTES:</li>
        <li><strong>Diego González</strong></li>
        <li><strong>Ivan Gimenez</strong></li>
        <li><strong>Camila Mendez</strong></li>
        <li><strong>Rosa Rodriguez</strong></li>
        <li><strong>Brian Duarte</strong></li>
    </ul>
</div>